#|==============================|#
#|  Items to Always Track/Keep  |#
#|==============================|#
#|
#|  Always Keep Documentation Files
#|    - Base Name: 'README'
!*-README.*
!*.README.*
!README.*
#|
#|
#|=============================|#
#|  Always Ignore 'old' Items  |#
#|=============================|#
#|
#|  Ignore 'old' Directories
#|    - Ignore [old] Directory Patterns
*.old.*/*
*.old/*
.old/*
*old.*/*
*old/*
old/*
#|
#|
#|==========================|#
#|   Ruby | Gems | Jekyll   |#
#|==========================|#
#|
#|  Ruby Patterns
#|    - Ignore File Patterns

#|
#|  Gem Patterns
#|    - Ignore [Gemfile|.gemspec] Patterns
Gemfile.lock
# *.gem
#|
#|  Jekyll Patterns
#|    - Ignore Directory Patterns
#|      (to keep out of site builds)
drafts/*
#|  Ignore Old Files
#|    - Ignore [old] File Patterns
*.old.*
.old.*
*_old.*
*.old
#|==============================|#
#|  Always Ignore 'temp' Items  |#
#|==============================|#
#|
#|  Ignore Temporary Directories
#|    - Ignore [tmp] Directory Patterns
*.tmp.*/*
*.tmp/*
.tmp/*
*tmp.*/*
*tmp/*
tmp/*
#|
#|  Ignore Temporary Files
#|    - Ignore [tmp] File Patterns
*.tmp.*
.tmp.*
*_tmp.*
*.tmp
